body{
	overflow-x: hidden;
	overflow-y: hidden;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
html{
	overflow-y: auto;
	scrollbar-width:none;
	-ms-overflow-style: none;
}
@font-face {
    font-family:"SourceHanSansSC-Medium";
    src: url({$resource_path}SourceHanSansSC-Medium.otf);
}
@font-face {
    font-family:"SourceHanSansSC-Regular";
    src: url({$resource_path}SourceHanSansSC-Regular.otf);
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
    }
.swiper-txt{
    bottom: 0px;
    position: absolute;
    left:0%; 
   
    color:white;
    width: 1200px;
    height: 323px;
    background:repeating-linear-gradient(to right,rgb(58, 95, 132,0.8),rgb(87, 109, 135,0.0));
}
.swiper-txt-title{
    font-weight: bold;
    font-family:"SourceHanSansSC-Medium";
    font-size: 58px;
}
#container-swiper-txt{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.example-title{
   width: 100%;
   text-align: center;
    font-size: 2em;
}
.example-title .example-title-second{
    font-weight: 800;
}
.example-list{
    width: 100%;
}
.example-imgbox img{
    width: 100%;
}
.example-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    
}
.example-button-back{
    position: relative;
    width: 150px;
   
    background-color: rgb(102, 102, 102);
}
.example-button-over{
    position: relative;
    color: white;
    height: 100%;
    width: 120px;
    border-top:40px solid rgb(51, 102, 153) ;
    border-right: 37px solid transparent;
}
.example-button-over::before {
    content: "更多案例";
    position: absolute;
    top: -32px;
    left: 14px;
  }
.example-button-txt{
    position: relative;
  z-index:1;
  color:white;
}
.about-gryli-background{
    background-image: url(about-us.png);
    background-repeat: no-repeat;
    height: 636px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.about-gryli-title{
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 0.8em;
}
.about-gryli-sub{
    font-size: 28px;
    margin-bottom: 0.8em;
}
.about-gryli-width{
    width: 50%;
   
}
.news-box{
    box-shadow: 0px 2px 10px gray;
}
.news-title{
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
     font-size: 2em;
 }
 .news-title .news-title-second{
    font-weight: 800;
}
.news-box-time{
    font-size: 18px;
    color:#bbb;
}
.news-box-tittle{
    margin-top: 18px;
    font-size: 18px;
}
.news-box-content{
    font-size: 14px;
    margin-bottom: 14px;
    color:#bbb;
}
.news-link-more{
    transition:0.6s all;
    color:  rgb(51, 102, 153) ;
}
.news-box:hover .news-link-more
{
    letter-spacing:2px;
    
}
.news-box-tittle{
    
    transition: all 1s linear;
}
   .news-box:hover .news-box-tittle {
        cursor: pointer;
     transition: 0.2s;
transition-duration:1s;

    transition-timing-function:ease-in-out;
       color: #336699;
   }
.news-block-right{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.feet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 3em;
    background-color: black;
    height: 560px;
}

.feet-guide{
    font-size: 18px;
    margin-bottom: 2em;
    color: white;
}
.feet-link{
    line-height: 32px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}
.mylink{
    font-size: 15px;
	text-decoration:none;
    color: rgb(153, 153, 153);
    display: flex;
}
.input-block{
    top:-15%;
    right:16%;
    width: 400px;
    height: 520px;
    background-color: rgb(51, 102, 153);
    border-radius: 15px;
    position:absolute;
}
.input-content{
    padding-bottom: 1.5em;
}
.input-name{
    padding-bottom: 1.5em;
}
.input-mobile{
    padding-bottom: 1.5em;
}
.message{
    text-indent: 1em;
    line-height: 2;
    color:white;
    border: 0px;
    outline: none;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(102, 140, 179);
    
}
.name{
    text-indent: 1em;
    line-height: 2;
    color:white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(102, 140, 179);
}

.mobile{
    text-indent: 1em;
    line-height: 2;
    color:white;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(102, 140, 179);
    
}
.button{

    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.button:hover{
    
    border-radius: 10px;
    background-color: rgb(214 204 204) !important;
}
@media screen and (max-width:970px) {
    .swiper-slide>img{
        height: 500px;
    }
}
.swiper-txt-content{
    display: -webkit-box;
    font-size: 27px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-family:"SourceHanSansSC-Regular";
}
@media screen and (max-width:992px) {
    .swiper-txt{
        left: -5%;
        top:8% !important;
        width:111% !important;
        background:repeating-linear-gradient(to right,rgb(58, 95, 132,0.0),rgb(87, 109, 135,0.0))  !important;
    }
      
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.navbar-brand>img {
    margin-right: 1em !important;
}
@media screen and (max-width:1200px) and (min-width:0px) {
    .logo-txt{
        display: none !important;
    }
}
.about-gryli-desc{
    font-size: 16px;
}

.about-gryli-desc{
    position: relative;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 height:120px;
 }
.about-gryli-desc::after{
 content:"...";
 font-weight:bold;
  position:absolute;
        bottom:-5px;
        right:-4px;
        
}
@media  screen and (max-width:768px) and (min-width:0px) {
    .news-block-right{
      padding-left: 0 !important;
    }
}
@media  screen and (max-width:992px) and (min-width:0px) {
    .feet{
        height: 100% !important;
    }
}
@media screen and (max-width:1151px) {
    .banner-white{
        height: 375px !important;
    }
}

.example-imgbox{
    overflow: hidden;
}
.example-imgbox>img{
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s;

}
.example-imgbox>img:hover{
    transform: scale(1.4);
}
.svg-color-change{
    transition: all 1s;
    cursor: pointer;
}
.svg-color-change:hover .cls-1{
   
    fill:#666;
}
.svg-color-change:hover .cls-2{
    fill:#369;
}
li{
    margin-left: 1.3em;
	border-bottom: 3px solid #FFFFFF !important;
}
.nav-all:hover{
	border-bottom: 3px solid rgb(73, 116, 161) !important;
}
.feet-link{
    cursor: pointer;
}
.feet-link:hover{
    color: white;
}
.feet-link:hover> .mylink{
    color: white;
}
.example-desc{
    text-align: center;
}
input{
    border: 0px;
    outline: none;
}
@media screen and (max-width:768px){
    .news-left{
        margin-top: 5em 768px ;
    }
    .news-block-right-self{
  
    margin-left:10px;
    width:95%;
    }
    .news-box>img{
        height: 48 !important;
    }
}
@media screen and (max-width:375px){

    .news-box>img{
        height: 40% !important;
        
    }
}
@media screen and (max-width:412px){

    .news-box>img{
        height: 40% !important;
        
    }
      .news-block-right-self{
          margin-top:35px;
           width:91%;
      }
}
textarea::-webkit-input-placeholder { /* WebKit browsers */ 
    font-size: 14px;
    color: rgba(255,255,255,0.6); 
    } 
    
    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
        font-size: 14px;
    color: rgba(255,255,255,0.6); 
    } 
    
    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ 
        font-size: 14px;
    color: rgba(255,255,255,0.6);
    } 
    
    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */ 
        font-size: 14px;
    color: rgba(255,255,255,0.6);
    } 
input::-webkit-input-placeholder { /* WebKit browsers */ 
    font-size: 14px;
    color: rgba(255,255,255,0.6); 
    } 
    
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
        font-size: 14px;
    color: rgba(255,255,255,0.6); 
    } 
    
    input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
        font-size: 14px;
    color: rgba(255,255,255,0.6);
    } 
    
    input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
        font-size: 14px;
    color: rgba(255,255,255,0.6);
    } 
/*.example-button {
    position: relative;
    width: 150px;
    height: 40px;
  }
  
  .example-button-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(102, 102, 102);
  }
  
  .example-button-over {
    position: absolute;
    top: -40px;
    left: -37px;
    width: 120px;
    height: 40px;
    border-top:40px solid rgb(51, 102, 153) ;
    border-right: 37px solid transparent;
  }
  
  .example-button-txt {
    position: relative;
    z-index:1;
    color:white;
  }*/
  @media screen and (max-width:410px) {
    .example-title{
        font-size: 35px !important;
    }
    .about-gryli-title{
        font-size:35px !important ;
    }
    .news-title>span{
        font-size:35px !important ;
    }
  }
  

.bannersw{
    padding-top: 81px;
}
.swiper-txt-2{
    position: absolute;
    left:15%; 
    top: 36%;
    width: 34%;
    height: 30%;
    
}
.swiper-txt-title-2{
    font-family:"SourceHanSansSC-Medium";
    font-size: 3.625rem;
    font-weight: bold;
    color: rgb(51, 102, 153);
}
.swiper-txt-content-2{
    color: rgb(102, 102, 102);
    font-size: 1.7156rem;
    font-family:"SourceHanSansSC-Regular";
}
@media screen and (max-width:1606px) and (min-width:1440px) {
    .swiper-txt-content-2{
        font-size: 1.3156rem;
    }
    .swiper-txt-title-2{
        font-size: 3.225rem;
    }
}
@media screen and (max-width:992px) {
    .swiper-txt-2{
        top:36% !important;
        width:82% !important;
      
    }
      
}
@media screen and (max-width:596px) {
    .swiper-txt-content-2{
        font-size: 1.1156rem;
    }
    .swiper-txt-title-2{
        font-size: 2.625rem;
    }
}
@media screen and (max-width:248px){
    .swiper-txt-2{
        top:14% !important;
        width:82% !important;
      
    }
    .swiper-txt-content-2{
        font-size: 1.0156rem;
        word-break: break-all;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .swiper-txt-title-2{
        font-size: 2.325rem;
    }
}
@media screen and (max-width:1588px) {
    .swiper-txt-title{
        font-size: 40px;

    }
    .swiper-txt-content{
        font-size: 18px;
    }
}
@media screen and (max-width:1099px) {
    .swiper-txt-title{
        font-size: 32px;
        text-shadow: 2px 2px 5px #aaa;
    }
    .swiper-txt-content{
        font-size: 14px;
        text-shadow: 2px 2px 5px #aaa;
    }
}
@media screen  and (max-width:1588px) {
    .swiper-txt-title-2{
        font-size: 40px;
    }
    .swiper-txt-content-2{
        font-size: 18px;
    }
}
@media screen and (max-width:1099px) {
    .swiper-txt-title-2{
        font-size: 32px;
        text-shadow: 2px 2px 5px #aaa;
    }
    .swiper-txt-content-2{
        font-size: 14px;
        text-shadow: 2px 2px 5px #aaa;
    }
}
@media screen and (max-width:682px) {
    .about-gryli-width{
        width: 100%;;
    }
}
@media screen and (max-width:304px) {
    .about-gryli-title{
        font-size: 27px !important;
        
    }
    .about-gryli-sub{
        font-size: 21px;
        
    }
}
@media  screen and (max-width:715px){
    .feet-b{
        display: block;
    }
}
@media screen and (max-width: 768px){
    .news-block-right-self {
        margin-left: 15px;
        margin-top: 24px;
        width: 94%;
    }
}
@media screen and (max-width:545px) {
    .news-block-right-self{
        margin-left: 15px;
        margin-top: 24px;
        width: 94%;
    }
}
@media screen and (max-width:378px) {
     .news-block-right-self{
        margin-left: 15px;
        margin-top: 24px;
        width: 94%;
    }
}
@media screen and (max-width:347px) {
     .news-block-right-self{
        margin-left: 15px;
        margin-top: 24px;
        width:86%;
    }
}
@media screen and (max-width:290px) {
     .news-box-below{
        padding-top: 10px !important;
     }
     .news-block-right-self{
        margin-left: 15px !important;
        margin-top: 24px !important;
        width: 87% !important;
    }
}
@media screen and (max-width:414px) {
     .news-box-below{
        padding-bottom: 30px !important;
        padding-top: 22px !important;
     }
      .news-block-right-self{
        margin-left: 15px;
        margin-top: 24px;
        width:91%;
    }
}
@media screen and (max-width:435px) and (min-width:412px) {
    .news-box-below{
        padding-bottom: 31px !important;
    }
    .first-news{
        padding-bottom: 144px !important;
    }
}
@media screen and (max-width:768px) {
    .index-news-position{
        margin-bottom: 0em !important;
    }
}

.detail-font{
    font-size: 28px;
}
@media screen and (max-width:768px) {
    .detail-font{
        text-align: center;
        font-size:18px;
    } 
   
}
@media screen and (max-width: 402px){
    .swiper-txt{
        width:141% !important;
    }
    .swiper-txt-title {
        
        font-size: 28px;
            
        text-shadow: 2px 2px 5px #aaa;
    }
    .swiper-txt-title-2 {
        
        font-size: 28px;
            
        text-shadow: 2px 2px 5px #aaa;
    }
}
   
   
@media screen and (max-width:415px) and (min-width:410px) {
    .news-box-tittle{
        margin-bottom: 0em !important;
    }
    .first-news{
        padding-top: 24px !important;
    }
}
@media screen and (max-width:1153px) and (min-width:993px) {
    .swiper-txt{
        height: 173px !important;
    }
}
.news-box-content{
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 45px;
}
.news-box-content::after{
    content:"...";
    font-weight:bold;
     position:absolute;
           bottom:2px;
           right:-4px;
           
}
@media screen and (max-width:768px) {
    .feet > div:first-child {
        margin-bottom: 2em !important;
    }
}
